<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index page</title>
</head>
<style>
    body {
        background-color: rgb(46, 91, 112);
        text-align: center;
    }
    .container {
        width: 50%;
        background-color: rgb(177, 69, 69);
        margin-left: 350px;
    }

    .main {
        
        background-color: rgba(22, 62, 88, 0.541);
        text-align: center;
    }

</style>
<body>
    <div class="container">
        <h1 class="Title">Product Management</h1>
        <div class="main">
            <h2>Products</h2>
    <table border="3" class="center">
        <tr>
            <td>Name</td>
            <td>Color</td>
            <td>Price</td>
            <td>Edit</td>
            <td>Delete</td>
        </tr>
        {{#each model}}
        <tr>            
            <td>{{productName}}</td>
            <td>{{color}}</td>
            <td>{{price}}</td>
            <td>
                <a href="/edit?id={{_id}}">Edit</a>
            </td>
            <td><a href="/delete?id={{_id}}" 
                onclick="return confirmDelete('{{productName}}')">Delete</a></td>
        </tr>
        {{/each}}
    </table>
    {{> footer}}
    <script>    
        function confirmDelete(name){
            return confirm('Are your sure?' + name);
        }
    </script>
        </div>
    </div>
</body>
</html>